<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>XThought</title>
  </head>
  <body>
    <script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8"></script>
  </body>
</html>