<%- include header %>
<p class="info">
  Author: <a href="/u/<%= post.username %>"><%= post.username %></a> | 
  Date: <%= post.time.minute %>
  <% if(post.tags.length != 0){ %>
     | Tags: 
    <% post.tags.forEach(function(tag, index){ %>
      <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
    <% }) %>
  <% } %>
  <%- include user_action %>
</p>
<p><%- post.content %></p>
<% if(post.reprint_info.reprint_from){ %>
  <br><a href="/posts/<%= post._id %>">原文链接</a>
<% } %>
<%- include comment %>
<%- include footer %>