<h4>Comments:</h4>
<% if(post.comments) %>
<% post.comments.forEach(function(comment, index){%>
  <p><%- comment.content %></p>
  <p class="info">
    <a href="/u/<%= comment.username %>"><%= comment.username %></a> | <%= comment.time.minute %>
  </p>
<%}); %>

<form method="POST">
  <textarea name="content" rows="5" cols="66"></textarea><br />
  <input type="submit" value="comment" />
</form>