<%- include header %>
<form method="POST">
  Title: <br />
  <input type="text" name="title" value="<%= post.title %>" disabled="disabled"/> <br />
  <% if(post.tags.length != 0){ %>
  Tag: <br />
    <% post.tags.forEach(function(tag,index){%>
    <input type="text" name="tag<%= index %>" value="<%= tag %>" disabled="disabled" />&nbsp;
    <%})%>
    <br/>
  <% } %>
  Content: <br />
  <textarea name="content" rows="10" cols="60"><%= post.content %></textarea><br />
  <input type="submit" value="update"/>
</form>
<%- include footer %>
