<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>☯ Thought | <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <h1>↣ <%= title %></h1>
    </header>

    <nav>
      <span>
        <form action="/search" method="GET">
          <input type="text" name="keywords" placeholder="search" class="search" />  
        </form>
      </span>
      <span><a title="主页" href="/">Home</a></span>
      <span><a title="心情" href="/tweets">Tweets</a></span>
      <span><a title="博客" href="/posts">Blog</a></span>
      <span><a title="存档" href="/archive">Archive</a></span>
      <span><a title="标签" href="/tags">Tags</a></span>
      <% if(user) {%>
        <span><a title="Post" href="/post">Post</a></span>
        <span><a title="Upload" href="/upload">Upload</a></span>
        <span><a title="Logout" href="/logout">Logout</a></span>
      <% }else{ %>
        <span><a title="登录" href="/login">Login</a></span>
        <span><a title="注册" href="/reg">Register</a></span>
      <% } %>
    </nav>

    <article>
      <% if(success) {%>
        <div><%= success %></div>
      <% } %>
      <% if(error) {%>
        <div><%= error %></div>
      <% } %>