<%- include header %>
<form method="POST">
  Title: <br />
  <input type="text" name="title"/> <br />
  Tag: <br/>
  <input type="text" name="tag1" />&nbsp;<input type="text" name="tag2" />&nbsp;<input type="text" name="tag3" /><br/>
  Content: <br />
  <textarea name="content" rows="10" cols="60"></textarea><br />
  <input type="submit" value="tweet"/>
</form>
<%- include footer %>
