<br/>
<div>
  <% if(currentPage!=1){ %>
    <span class="prepage">
      <a title="上一页" href="?page=<%= currentPage-1 %>">上一页</a>
    </span>
  <% } %>
  第<%= currentPage %>页，共<%= totalPages %>页
  <% if(currentPage!=totalPages){ %>
    <span class="nextpage">
      <a title="下一页" href="?page=<%= currentPage+1 %>">下一页</a>
    </span>
  <% } %>
</div>