<%- include header %>
<% posts.forEach(function(post, index){ %>
  <% if(post.title) {%>
    <p>
      <h2>
        <a href="/posts/<%= post._id %>"><%= post.title %></a>
      </h2>
    </p>
    <p class="info">
      Author: <a href="/u/<%= post.username %>"><%= post.username %></a> | 
      Date: <%= post.time.minute %>
      <%- include user_action %>
    </p>
    <p><%- post.content %></p>
  <% }else{ %>
    <p><%- post.content %></p>
    <p class="info">
      Author: <a href="/u/<%= post.username %>"><%= post.username %></a> | 
      Date: <%= post.time.minute %>
      <%- include user_action %>
    </p>
  <% } %>
<% }) %>
<%- include paging %>
<%- include footer %>