<%- include header %>
<form method="post">
  Username:<input type="text" name="username"/><br />
  Password:<input type="password" name="password"/><br />
  Confirm:<input type="password" name="confirm"/><br />
  Email:<input type="email" name="email"/><br />
  <input type="submit" value="Register"/>
</form>
<%- include footer %>
