<%- include header %>
  <ul class="archive">
    <% posts.forEach(function(post,index){%>
      <li><time><%= post.time.day %></time></li>
      <li><a href="/posts/<%= post._id %>"><%= post.title %></a></li>
    <% }) %>
  </ul>
<%- include footer %>