<%- include header %>
<form method="POST" enctype='multipart/form-data'>
  <input type="file" name="pic1" /><br />
  <input type="file" name="pic2" /><br />
  <input type="submit" value="upload"/>
</form>
<%- include footer %>