| <span class="edit">
    浏览(<%= post.pv %>)
  </span>
| <span class="edit">
    <% var reprint_count = 0 %>
    <% if(post.reprint_info.reprint_to){ %>
      <% reprint_count = post.reprint_info.reprint_to.length %>
    <% } %>
    转载(<%= reprint_count %>)
  </span>
| <span>
    <a class="edit" href="/posts/<%= post._id %>">评论(<%= post.comments.length %>)</a>
  </span>
<% if(user && user.username == post.username) { %>
  <% if(post.title){ %>
    <span>
      <a class="edit" href="/edit/<%= post._id %>">
        ✎  
      </a>
    </span>
  <% } %>
  <span>
    <a class="edit" href="/remove/<%= post._id %>">Remove</a>
  </span>
<% } %>
<% var flag = 1 %>
<% if (user && (user.username != post.username)){ %>
  <% if ((post.reprint_info.reprint_from != undefined)&&(user.username == post.reprint_info.reprint_from.username)){ %>
    <% flag = 0 %>
  <% } %>
  <% if (post.reprint_info.reprint_to != undefined){ %>
    <% post.reprint_info.reprint_to.forEach(function(reprint_to, index){ %>
      <% if(user.username == reprint_to.username){ %>
        <% flag = 0 %>
      <% } %>
    <% }) %>
  <% } %>
<% }else{ %>
  <% flag = 0 %>
<% } %>
<% if(flag){ %>
  <span><a href="/reprint/<%= post._id %>">转载</a></span>
<% } %>
