/* inspired by http://yihui.name/cn/ */
*{ padding:0;margin:0; }

body{
  background: url("/images/weave.png") repeat; 
  width:600px;
  margin:2em auto;
  padding:0 2em;
  font-size:14px;
  font-family:"Microsoft YaHei";
}

p{
  line-height:24px;
  margin:1em 0;
}

header{
  padding:.5em 0;
  border-bottom:1px solid #cccccc;
}

nav{
  position:fixed;
  left:12em;
  font-family:"Microsoft YaHei";
  font-size:1.1em;
  text-transform:uppercase;
  width:9em;
  text-align:right;
}

nav a{
  display:block;
  text-decoration:none;
  padding:.7em 1em;
  color:#000000;
}

nav a:hover{
  background-color:#ddd;
  color:#a0a0a0;
  -webkit-transition:color .2s linear;
}

article{
  font-size:16px;
  padding-top:.5em;
}

article a{
  color:#dd0000;
  text-decoration:none;
}

article a:hover{
  color:#333333;
  text-decoration:underline;
}

.info{
  font-size:14px;
}

.edit {
  margin: 3px;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #f3f3f3;
  color: #333;
  font-size: 13px;
}

.edit:hover{
  text-decoration: none;
  background-color: #f00;
  color: #fff;
  -webkit-transition: color .2s linear;
}

.prepage a{
  text-decoration:none;
  font-weight:bold;
}

.nextpage a{
  text-decoration:none;
  font-weight:bold;
}

.prepage a:hover,
.nextpage a:hover{
  text-decoration:none;
}

.archive{
  list-style:none;
  line-height:28px;
}

.archive h3{
  margin:0.5em 0;
}

.archive time{
  float:left;
  font-size:14px;
  color:#999999;
  margin-right:1.2em;
}

.tag{
  background-color:#ff0000;
  border-radius:3px;
  font-size:13px;
  color:#ffffff;
  padding:2px 5px;
  margin:3px;
}

.tag:hover{
  text-decoration:none;
  background-color:#ffffff;
  color:#000000;
  -webkit-transition:color .2s linear;
}

.search{
  border:0;
  width:6em;
  text-align:center;
  font-size:1em;
  margin:0.5em 0;
}